<h1>New site</h1>

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :slug, 'url' %><br />
    <%= f.text_field :slug %>.bunchup.us
  </p>

  <p>
    <%= f.label :feed_list, 'feeds' %><br />
    <%= f.text_area :feed_list %>
  </p>
  <p>
    <%= f.submit "Bunch 'em" %>
  </p>
<% end %>
