<h1>Want to get people together?</h1>

<h2>Put your group's blogs, tweets, and more all on one page. Create a shared site in 30 seconds.</h2>

<div class="center_form">

<% form_for(@site) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :slug, 'url' %><br />
    <%= f.text_field :slug %>.bunchup.us
  </p>

  <p>
    <%= f.label :feed_list, 'feeds' %><br />
    <div id="feed_examples">
      <p>Enter RSS feeds:<br>
      http://whitehouse.gov/feed/blog</p>

      <p>And twitter usernames:<br>
      @TheOnion</p>

      <p>... one per line!</p>
      
    </div>
    <%= f.text_area :feed_list %>
  </p>
  <p>
    <%= f.submit "Bunch 'em" %>
  </p>
<% end %>

</div>
