<% content_for :title do %><%= @site.slug %><% end %>

<h1><%= @site.slug %></h1>

<%= render :partial => "/warning" %>

<%= render :partial => "entries/entry", :collection => @site.pages[@page-1] %>

<div class="pages">
pages
<% (1..@site.pages.length).each do |page| %>
  <a href="<%= site_url(@site) %>/page/<%= page %>"><%= page %></a>
<% end %>
</div>
